@charset "utf-8";
.manualidades {
    text-align: center;
    font-size: 36px;
    width: 100%;
    height: 60px;
}
.Que.es {
    font-size: 24px;
    height: 0px;
}

.Que.es .definicion {
    font-size: 18px;
    text-align: justify;
}
.Que.es .temas {
    margin-top: 20px;
}
