@charset "utf-8";
.Electricidad {
    text-align: center;
    font-size: 36px;
    width: 100%;
    height: 71px;
}
.Electricidad .Que.es {
    text-align: left;
    font-size: 24px;
}
.Electricidad .definicion {
}
